{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="content">
            <div class="step-container">
                <div class="step step-1">
                    <div class="polar-bg"
                         style="background-image: url('{% image '@HappybreakJeuConcoursBundle/Resources/public/img/welcome-bg.png' %}{{ asset_url }}{% endimage %}')">
                        <div class="polar-content">
                            <h1><span style="font-size: 1.6em;font-weight: bold;">On vous offre</span>
                                <br/><span style="font-size: 2em;font-weight: bold;">1 an d’hôtels</span></h1>
                            <p>&nbsp;</p>
                            <hr class="hr-small">
                            <p>&nbsp;</p>
                            <p class="text-size-2">Tous vos breaks <span class="text-red">offerts</span> pendant 1 an* dans nos
                                200
                                hôtels partenaires,</p>
                            <p class="text-size-1">tentez votre chance en répondant correctement aux questions de notre
                                quizz</p>
                            <p>&nbsp;</p>
                            <a href="#" class="btn btn-hb btn-lg btn-upper btn-bold btn-start-quizz">Je participe au quizz</a>
                            <p>&nbsp;</p>
                            <p>*Dans la limite de 1 nuit d’hôtel par semaine pendant 52 semaines</p>
                            <a href="#">Voir le règlement</a>
                        </div>
                    </div>
                </div>
                <div class="step step-2" style="display: none;">
                    <a href="#" class="btn-back"><i class="fa fa-chevron-left"></i> Retour</a>

                    <form class="form-quizz"
                          action="{{ path('happybreak_jeu_concours_ajax_save_current_quizz_state') }}">
                        {% for i, question in questions %}
                            <div class="question">
                                <div class="question-title">
                                    <span class="question-title-rank">{{ i + 1 }}/{{ questions|length }}</span>
                                    <span class="question-title-text">{{ question.title|raw }}</span>
                                </div>

                                {% if question.options|length %}
                                    <div class="question-options row">
                                        {% for option in question.options %}
                                            <div class="question-option col-md-3">
                                                {% if option.illustration|length %}
                                                    <label class="question-option-illustration"
                                                         style="background-image: url('{{ option.illustration }}');" for="question-{{ question.id }}-option-{{ option.id }}">
                                                    </label>
                                                {% endif %}
                                                <input type="radio" class="magic-radio"
                                                       id="question-{{ question.id }}-option-{{ option.id }}"
                                                       name="question-{{ question.id }}"
                                                       value="option-{{ option.id }}" {{ quizzState and attribute(quizzState, 'question-' ~ question.id) is defined and (attribute(quizzState, 'question-' ~ question.id) == 'option-' ~ option.id) ? 'checked' }}>
                                                <label
                                                        for="question-{{ question.id }}-option-{{ option.id }}">{{ option.title }}</label>
                                            </div>
                                        {% endfor %}
                                        {% if question.hint|length %}
                                            <div class="question-hint col-md-3">
                                                {% if 'http' in question.hint %}
                                                    <a href="{{ question.hint|raw }}" target="_blank">Besoin d’un indice ?</a>
                                                {% else %}
                                                    <span>{{ question.hint|raw }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </form>
                    <div class="alert alert-danger form-quizz-error" style="display: none;">Veuillez choisir une réponse pour chacune des questions</div>

                    <p>&nbsp;</p>
                    <p class="text-center">
                        <a href="#" class="btn btn-hb btn-lg btn-upper btn-bold btn-validate-quizz" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Je
                            valide mes réponses</a>
                    </p>

                    <p class="text-center">
                        <a href="#">Voir le règlement</a>
                    </p>
                    {% if quizzState %}
                        <script type="text/javascript">
                            isQuizzStateDefined = true;
                        </script>
                    {% endif %}
                </div>

                <div class="step step-3" style="display: none;">
                    <a href="#" class="btn-back"><i class="fa fa-chevron-left"></i> Retour</a>
                    <h2 class="text-size-1">Pour participer à notre jeu concours et tenter de gagner 1 an d’hôtels,
                        merci de remplir les informations suivantes :</h2>
                    <p>&nbsp;</p>
                    <div class="row">

                        {% if facebookUserData %}
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert alert-info">
                                    <i class="fa fa-facebook-square fa-2x" style="vertical-align: sub;"></i>&nbsp;&nbsp;Connecté
                                    en tant que
                                    : {{ facebookUserData.name }} <a class="alert-link" href="{{ facebookLogoutUrl }}">Se
                                        déconnecter</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-4 col-md-offset-4">
                                <a href="{{ path('happybreak_jeu_concours_facebook_login') }}"
                                   class="btn btn-block btn-fb">
                                    <i class="fa fa-facebook"></i>&nbsp;Connexion avec Facebook
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <p>&nbsp;</p>
                    <div class="row">

                        <form class="form-register form-horizontal col-md-8 col-md-offset-2" action="{{ path('happybreak_jeu_concours_ajax_submit_quizz') }}">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Civilité* :</label>
                                <div class="col-sm-8">
                                    <input type="radio" id="civility_madame"
                                           class="magic-radio" name="civility"
                                           value="Mme" {{ facebookUserData and facebookUserData.gender == 'female' ? 'checked' }}>
                                    <label for="civility_madame">Madame</label>
                                    <label></label>
                                    <input type="radio" id="civility_mister"
                                           class="magic-radio" name="civility"
                                           value="Mr" {{ facebookUserData and facebookUserData.gender == 'male' ? 'checked' }}>
                                    <label for="civility_mister">Monsieur</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name" class="col-sm-4 control-label">Prénom* :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="first_name" name="first_name"
                                           value="{{ facebookUserData ? facebookUserData.first_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-sm-4 control-label">Nom* :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="last_name" name="last_name"
                                           value="{{ facebookUserData ? facebookUserData.last_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-4 control-label">Email* :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" name="email"
                                           value="{{ facebookUserData ? facebookUserData.email }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="col-sm-4 control-label">Date de naissance :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="birthday" name="birthday"
                                           value="{{ facebookUserData ? facebookUserData.birthday }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-4 control-label">N° de téléphone* :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label></label><input type="checkbox" class="magic-checkbox" value="1" name="newsletter"
                                                      id="newsletter">
                                <label for="newsletter">
                                    Je souhaite dégoter les meilleurs hôtels à -50% et me tenir informé des nouveautés
                                    de Happybreak.
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="magic-checkbox" value="1" name="cgv" id="cgv">
                                <label for="cgv">
                                    J’accepte les conditions du jeu concours et recevoir des communications liées au jeu.*
                                </label>
                            </div>
                            <div class="alert alert-danger form-register-error" style="display: none;">Merci de bien renseigner tous les champs requis.</div>
                            {% if facebookUserData %}
                                <input type="hidden" name="facebook_user_id" value="{{ facebookUserData.id }}">
                            {% endif %}
                        </form>
                    </div>

                    <p class="text-center">
                        <a href="#" class="btn btn-hb btn-lg btn-upper btn-bold btn-submit-form" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Je participe au jeu</a>
                        <br>
                        <br>
                        <a href="#">Voir le règlement</a>
                    </p>
                    <p>
                        *Champs requis obligatoire
                    </p>
                </div>

                <div class="step step-4" style="display: none;">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <p class="text-size-2 text-center">
                                <strong>Félicitations <span class="text-yellow">Jhon Doe</span></strong>
                            </p>
                            <p>&nbsp;</p>
                            <p class="text-center text-size-1">Vous êtes désormais inscrit à notre grand tirage au sort
                                pour
                                tenter de gagner 1 an de breaks dans nos hôtels partenaires !</p>
                            <p>&nbsp;</p>
                            <p class="text-center text-size-1">En attendant ...</p>
                            <p>&nbsp;</p>
                            <p class="text-center text-size-1">
                                <strong>... multipliez vos chances de gagner,</strong> en partageant notre grand jeu
                                concours auprès de vos proches :
                            </p>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3>
                                        Partagez sur Facebook :
                                    </h3>
                                    <i class="fa fa-facebook-square fa-3x" style="color: #3b5998; font-size: 5em; margin-right: 25px; vertical-align: middle;"></i>
                                    <img src="{% image '@HappybreakJeuConcoursBundle/Resources/public/img/chance-fb.png' %}{{ asset_url }}{% endimage %}" width="132" height="60"/>
                                    <p>&nbsp;</p>
                                    <a href="#" class="btn btn-hb btn-md btn-upper btn-bold">Je partage</a>
                                </div>
                                <div class="col-sm-8">
                                    <h3>
                                        Envoyez par email :
                                    </h3>
                                    <div class="row" style="border-left: solid 3px rgb(247, 166, 0);">
                                        <div class="col-sm-7">
                                            <img src="{% image '@HappybreakJeuConcoursBundle/Resources/public/img/mail.png' %}{{ asset_url }}{% endimage %}" width="75" height="65" style="margin-right: 25px;"/>
                                            <img src="{% image '@HappybreakJeuConcoursBundle/Resources/public/img/chance-mail.png' %}{{ asset_url }}{% endimage %}" width="175" height="59"/>
                                        </div>
                                        <div class="col-sm-5">
                                            <form class="form-share-email"
                                                  action="{{ path('happybreak_jeu_concours_ajax_email_share') }}">
                                                <label for="share-email">Email :</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="share-email"
                                                           id="share-email">
                                                </div>
                                                <input type="hidden" name="registration" value="">
                                            </form>
                                            <div class="alert alert-danger form-share-email-error"
                                                 style="display: none;">Merci de renseigner une adresse email valide.
                                            </div>
                                            <p>&nbsp;</p>
                                            <a href="#" class="btn btn-hb btn-md btn-upper btn-bold btn-share-email"
                                               data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Envoyer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}